site_name: 上海交通大学计算机学院
site_author: MeowmeowHammer

repo_name: introduction-to-SJTU-cs
repo_url: https://github.com/sitetampo0724/introduction-to-SJTU-cs.git

copyright: Copyright &copy; 2026-present <a href="https://sitetampo0724" target="_blank" rel="noopener noreferrer">MeowmeowHammer</a>

theme:
  name: material
  language: zh
  features:
    - header.autohide
    - navigation.tracking
    - navigation.top
    - search.highlight
    - search.share
    - search.suggest
    - content.code.annotate
  palette:

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: green
      accent: red
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
  font:
    text: Roboto Slab
    code: Roboto Mono



extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/sitetampo0724/introduction-to-SJTU-cs/
    - icon: fontawesome/solid/envelope
      link: mailto:19705026518@163.com
  analytics:
    provider: google
    property: G-KJB4RXSKZG

nav:
  - INTRODUCTION: "index.md"
  - COLLEGES:
    - 计算机科学与技术: "colleges/Com_Sci.md"
    - 软件工程: "colleges/So_Eng.md"
    - 信息安全: "colleges/Cy_se.md"
  - FOR WHO: "for who/forwho.md"
  - FEELINGS:
    - 学习: "feelings/stu.md"
    - 生活: "feelings/live.md"